<div class="demo-container">
  query:
  <pre>{{ (demoQuery$ | async) ?? 'loading'}}</pre>
</div>

<div class="demo-container">
  post list:
  <pre>
    @for (post of posts$ | async; track post.id) {
      {{ post.title }}
    }
  </pre>
</div>

<div>
  <input type="text" [formControl]="addPostTitle" />
  <button (click)="addPost()">Add Post</button>
</div>

<div class="demo-container" style="flex-direction:column;align-items:flex-start;margin-top:30px">
  received events:
  <pre>{{(events$ | async) | json}}</pre>
</div>
