<div class="demo-container">
  simple query from server:

  <pre>{{ (demoQuery$ | async) ?? 'loading'}}</pre>
</div>

<div>
  <input type="text" [formControl]="addPostTitle" />
  <button (click)="addPost()">Add Post</button>
</div>

<div class="demo-container" style="flex-direction:column">
  post list that gets queried after mutation
  <pre>
    @for (post of postsRef.value(); track post.id) {
      {{ post.title }}
    }
  </pre>
</div>

<div class="demo-container" style="flex-direction:column;align-items:flex-start;margin-top:30px">
  subscribed posts:
  @if (events$ | async; as events) {
    <pre>{{events | json}}</pre>
  } @else {
    <small>connecting...</small>
  }
</div>
